@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, white 50%, blue 50%);
  background-repeat: no-repeat;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: max-content 1fr;
  place-items: center;
}

.phone {
  width: 275px;
  height: 533.6px;

  background: #1c1c1c;
  border-radius: 18px;

  box-shadow: 0 0 0 8px red;

  position: relative;
}

.notch {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  background: red;
  width: 100px;
  height: 16px;
  border-radius: 0 0 12px 12px;
}

.notch::after {
  content: "";
  background: #1c1c1c;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
