@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, white 50%, blue 50%);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

main {
  display: grid;
  grid-template-columns: max-content 1fr;
  place-items: center;
}

.logos img {
  @apply h-10 w-10 overflow-hidden mx-1 grayscale object-cover;
}

.logos img:hover {
  @apply grayscale-0;
}

.phone {
  width: 275px;
  height: 533.6px;

  background-image: url("../assets/signIn.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 18px;

  box-shadow: 0 0 0 8px #212121;

  position: relative;
}

.phone-2 {
  background-image: url("../assets/teamView.jpg");
}

.notch {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  background: #212121;
  width: 100px;
  height: 16px;
  border-radius: 0 0 12px 12px;
}

.notch::after {
  content: "";
  background: #1c1c1c;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
